@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    width: 100vw;
    min-height: 100vh;
    list-style: none;
}

.listElement::after{
    content: '';
    height: 3px;
    background: #16a34a;
    width: 0%;
    display: block;
    transition: width 0.3s;
    margin: auto;
}

.listElement:hover::after{
    width: 100%;
}